:root {
    --primary-yellow: #ffe600; 
    --primary-black: #1a1a24; 
    --primary-white: #fffffe; 
    --primary-bg: #f7f7f8; 
    --primary-bg-accent: #e1e1e6; 
  
    --accent-link: #155cb4; 
    --accent-error: #b9251c; 
    --accent-sucess: #168736; 
    --accent-warning: #ed6500;
  
    --text-text: #2e2e38; 
    --text-prompt: #585860; 
    --text-mute: #c4c4cd; 
    --text-disabled: #747480; 
  
    --secondary-gray-50: #fafafc; 
    --secondary-gray-100: #f6f6fa; 
    --secondary-gray-200: #eaeaf2; 
    --secondary-gray-225: #e7e7ea; 
    --secondary-gray-250: #e1e1e6; 
    --secondary-gray-300: #c4c4cd; 
    --secondary-gray-400: #747480; 
    --secondary-gray-500: #2e2e38; 
  
    --secondary-purple-100: #9c82d4; 
    --secondary-purple-200: #724bc3; 
    --secondary-purple-300: #542ea5; 
    --secondary-purple-400: #3d108a; 
    --secondary-purple-500: #240d75; 
    --secondary-purple-600: #0a095a; 
    --secondary-purple-700: #15173e; 
  
    --secondary-green-100: #8de8ad; 
    --secondary-green-200: #57e188; 
    --secondary-green-300: #34c768; 
    --secondary-green-400: #2db757; 
    --secondary-green-500: #189d3e; 
    --secondary-green-600: #168736; 
    --secondary-green-700: #13652a; 
  
    --secondary-maroon-100: #c981b2; 
    --secondary-maroon-200: #b14891; 
    --secondary-maroon-300: #922b73; 
    --secondary-maroon-400: #750e5c; 
    --secondary-maroon-500: #5a0a42; 
    --secondary-maroon-600: #42152d; 
    --secondary-maroon-700: #351c21;
  
    --secondary-red-100: #ff9a91; 
    --secondary-red-200: #ff736a; 
    --secondary-red-300: #f95d54; 
    --secondary-red-400: #ff4236; 
    --secondary-red-500: #e0362c; 
    --secondary-red-600: #b9251c; 
    --secondary-red-700: #7a130d; 
  
    --secondary-teal-100: #93f0e6; 
    --secondary-teal-200: #60e6e1; 
    --secondary-teal-300: #42c9c2; 
    --secondary-teal-400: #27acaa; 
    --secondary-teal-500: #109090; 
    --secondary-teal-600: #0d7575; 
    --secondary-teal-700: #004f4f; 
  
    --secondary-orange-100: #ffb46a; 
    --secondary-orange-200: #ff9831; 
    --secondary-orange-300: #ff810a; 
    --secondary-orange-400: #ff6d00; 
    --secondary-orange-500: #f76900; 
    --secondary-orange-600: #eb4f00; 
    --secondary-orange-700: #bc2f00; 
    
    --secondary-blue-100: #87d3f2; 
    --secondary-blue-200: #4ebeeb; 
    --secondary-blue-300: #35a4e8; 
    --secondary-blue-400: #188ce5; 
    --secondary-blue-500: #1777cf; 
    --secondary-blue-600: #155cb4; 
    --secondary-blue-700: #082c65; 
  }