# this project uses environment variables to store sensitive data
# this file is an example of the .env file that should be created in the root of the project
# the .env file should not be commited to the repository

SECRET_KEY=3mxhn8cq

APP_DEBUG=False
APP_HOST=127.0.0.1
APP_PORT=6008

APP_STORAGE=local
